@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    font-family: Inter;
}

.box {

}

.red {
    position: relative;
    margin: 150px 300px;
    height: 300px;
    width: 300px;
    background-color: red;
    border-radius: 12px;
}

.blue {
    position: absolute;
    position: relative;
    bottom: -30px;
    right: -30px;
    height: 300px;
    width: 300px;
    background-color: blue;
    border-radius: 12px;
}

.green {
    height: 300px;
    width: 300px;
    background-color: green;
    border-radius: 12px;
    position: relative;
    bottom: -30px;
    right: -30px;
}

.cookies {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #D9D9D9;
    border-radius: 12px;
    margin: 20px 50px;
    height: 100px;
    width: 300px;
    gap: 30px 0px;

}

.AC {
    font-weight: bold;
}

.row {
    gap: 0px 20px;
    display: flex;
    flex-direction: row;
}

.ref {
    color: aqua;
    border: ;
    border-radius: 12px;
}





